if SHIELD_LOZOR_LEFT

    config ZMK_KEYBOARD_NAME
        default "Lozor"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

    config USB
        default y

    config BLE
        default y

endif

if SHIELD_LOZOR_LEFT || SHIELD_LOZOR_RIGHT

    config ZMK_SPLIT
        default y

endif